.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 8rem;
}
.form-group:last-child {
  margin-bottom: 2rem;
}
.form-group input {
  height: 1.9rem;
}
.form-group .control-label {
  position: absolute;
  top: -8px;
  pointer-events: none;
  padding-left: 8px;
  z-index: 1;
  color: #ADADAD;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.125rem solid #ADADAD;
  display: block;
}
.form-group .bar::before {
  content: '';
  height: 0.150rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #000;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 14px;
  border-width: 0;
  border-color: transparent;
  line-height: 18px;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value {
  color: #000;
}
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label {
  font-size: 14px;
  color: #000;
  top: -22px;
  left: 0;
}
.form-group input:focus {
  outline: none;
}
.form-group input:focus ~ .control-label {
  color: #000;
}
.form-group input:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
  color: #ADADAD;
}
.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #ADADAD;
}
.has-error .bar::before {
  background: #ADADAD;
  left: 0;
  width: 100%;
}

