/*
 * Globals
 */

body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

div[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.container {
  padding: 0;
  position: relative;
}
.row {
  margin: 0;
}
.fullwidth {
  width: 100%;
}
/*
 * HEADER/header
 */
.cb-header {
  padding: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  height: 120px;
}
.cb-header > div {
  display: flex;
  align-items: center;
  height: 100%;
}
.cb-logo {
  float: left;
}
.cb-navs {
  float: right;
}

/* Nav links */
.cb-nav-item {
  padding-bottom: 5px;
  position: relative;
  display: inline-block;
  margin-left: 40px;
  font-style: bold;
  font-weight: 900;
  color: #000;
  border-bottom: 3px solid #fff;
}
.cb-nav-item:hover,
.cb-nav-item:focus {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}
/* Active state gets a caret at the bottom */
.cb-nav-item.active {
  border-color: #000;
}


/* Sidebar modules for boxing content */
.cb-sidebar {
  padding: 0;
  position: absolute;
}
#sidebar.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
}
#sidebar.at-bottom {
  bottom: 0;
}
.cb-sidebar-section {
  padding: 29px 0px;
  widows: 100%;
}
.cb-sidebar-section a {
  line-height: 22px;
  font-size: 18px;
  font-style: medium;
  color: rgba(0,0,0,0.4);
  text-decoration: none;
  text-transform: uppercase;
}
.cb-sidebar-section.active a {
  color: #000;
  font-weight: 500;
}

/*
 * Main column and sidebar layout
 */

.cb-main {
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  padding: 0;
}

.cb-main-section {
  overflow: auto;
  margin-bottom: 128px;
}

/* about */
.cb-main-section .about1,
.cb-main-section .about2{
  margin-bottom: 128px;
}
#about img {
  width: 100%;
}
#about .about1 {
  margin-top: 32px;
}
#about .about1 img {
  object-fit: contain;
  float: right;
}
.about1 .section-text {
  margin-right: 15px;
}
.about2 .section-text {
  margin-left: 15px;
}
.section-title {
  font-style: bold;
  font-weight: bolder;
  font-size: 24px;
  line-height: 28px;
}

.about3 {
  font-size: 24px;
}
.about3 .hint-text {
  color: rgba(0,0,0,0.4);
}

/* services */
.main-section-title {
  text-align: right;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 64px;
}
.container.noright {
  margin-left: 20%;
  margin-right: 0;
  width: 80%;
  margin-bottom: 160px;
}
.service-section {
  width: 100%;
  display: flex;
}
.subsection {
  width: 50%;
  flex: 1;
  display: flex;
  justify-content: center; /* align horizontal */
}
.subsection-text {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subsection-text .title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 24px;
}
/* team */
.team-grid {
  box-sizing: border-box;
}
div[class*="col-"].team-col {
  box-sizing: border-box;
  width: 33.333%;
}
.team-col .box {
  position: relative;
  width: 100%;
  padding-bottom: 24px;
  padding-right: 8px;
  padding-left: 8px;
}
.team-col:first-child .box {
  padding-bottom: 24px;
  padding-right: 16px;
  padding-left: 0px;
}
.team-col:last-child .box {
  padding-bottom: 24px;
  padding-right: 0px;
  padding-left: 16px;
}

.team-col .box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.team-col .box .content {
  padding: 24px;
  background-color: #000;
  color: #fff;
  position: absolute;
  left: 8px;
  top: 0;
  right: 8px;
  bottom: 24px;
}
.team-col:first-child .box .content {
  left: 0px;
  right: 16px;
}
.team-col:last-child .box .content {
  left: 16px;
  right: 0px;
}

.box-name {
  font-size: 32px;
}


/*
 * Footer
 
.cb-footer {
  z-index: 1000;
  padding: 65px 0;
  background-color: #fff;
  color: #000;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}
.cb-footer-section {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
.cb-footer-section img {
  display: block;
  margin-left: -3px;
}
.cb-footer-section div {
  display: block;
}
.cb-footer p:last-child {
  margin-bottom: 0;
}

.contact-city-text {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
.contact-hint-text {
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}
.contact-button {
  margin-top: 16px;
}
.contact-button button{
  text-transform: uppercase;
  float: left;
  background-color: #000000;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  font-weight: 600;
  padding: 12px 18px;
}
